          <ul>
            <li><a href="{{ path('house') }}"><i class="icon-list"></i> Toutes les locations</a></li>
            <li><a href="{{ path('house_new') }}"><i class="icon-plus"></i> Ajouter une location</a></li>
          </ul>