          <ul>
            <li><a href="{{ path('contact') }}"><i class="icon-list"></i> Tous les contacts</a></li>
            <li><a href="{{ path('contact_new') }}"><i class="icon-plus"></i> Ajouter un contact</a></li>
          </ul>